


  @mixin flexCenter {
    display: flex;
    align-items: center;
  }
  
  .top__header {
    @include flexCenter;
    justify-content: space-between;
  }

  .add_btn{
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px 0px 0px;
  }

  