<h1 mat-dialog-title> 
    {{data.header}}
</h1>
<div mat-dialog-content>
    
    <form novalidate [formGroup]="employeeForm">


        <div class="example-container">

            <mat-form-field hintLabel="Max 20 characters" appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput #input maxlength="10" [formControlName]="'firstName'" placeholder="Ex. Jane">
              <mat-hint align="end">{{employeeForm.controls.firstName.value.length || 0}}/20</mat-hint>
            </mat-form-field>

            <mat-form-field hintLabel="Max 25 characters" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput #input maxlength="10" [formControlName]="'lastName'" placeholder="Ex. Doe">
                <mat-hint align="end">{{employeeForm.controls.lastName.value.length || 0}}/25</mat-hint>
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput  [formControlName]="'emailId'" placeholder="abc@example.com" required>
                <mat-error *ngIf="employeeForm.get('emailId').invalid">Please enter a valid email</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput  [formControlName]="'phoneNumber'" placeholder="123-456-7890" required>
               <mat-error *ngIf="employeeForm.get('phoneNumber').invalid">Please enter a valid phone number</mat-error>
               </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Salary</mat-label>
                <input matInput type="number" placeholder="Ex. 12" [formControlName]="'salary'" required>
                <span matPrefix>$&nbsp;</span>
                <mat-error *ngIf="employeeForm.get('salary').invalid">Please enter valid salary amount</mat-error>
            
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Hire Date</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="'hireDate'">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              

              <mat-form-field appearance="fill">
                <mat-label>Manager</mat-label>
                <mat-select matInput placeholder="Manager" 
                [formControlName]="'manager'" required >
                  <mat-option *ngFor="let managerObj of managerList" [value]="managerObj.managerId">
                      {{ managerObj.managerId }} - {{managerObj.managerName}}
                </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Department</mat-label>
                <mat-select [compareWith]="compareObjects" matInput placeholder="Department" 
                [formControlName]="'department'" required >
                  <mat-option *ngFor="let departmentObj of departmentList" [value]="departmentObj">
                      {{ departmentObj.departmentName }}
                </mat-option>
                </mat-select>
              </mat-form-field>
                
        </div>
        {{employeeForm.get('department')}}

        <div class="button-cls">
          <button mat-raised-button color="primary" style="margin-left: 10px;"  (click)="onCancelClick()">Cancel</button>
          <button mat-raised-button color="primary" style="margin-left: 10px;"  [disabled]="!employeeForm.valid" (click)="onOKClick()">OK</button>
        
        </div>

    </form>

</div>

